body {
    font-family: sans-serif;
    text-align: center;
    background-color:lavender;
    color: #514560;
    padding: 20px;
}

#msg {
    font-size: 1.4em;
    font-weight: bold;
}


button:hover{
     transform: scale(1.05); }

ol {
    display: inline-block;
    text-align: left;
}

.dark-mode {
    background-color:rgb(23, 19, 53);
    color: lavender;
}

.dark-mode button {
    background-color: #36254e;
    color: lavender;
    border: 1px solid #4f3476;
}

#wins, #avgScore, #fastest, #avgTime {
    margin: 5px;
    font-size: 1.1rem;
}